<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Recommendation</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Book Recommendation System</h1>
        <form id="recommendationForm" action="/recommend" method="POST">
            <label for="bookName">Enter a Book Name:</label>
            <input type="text" id="bookName" name="bookName" placeholder="E.g., Harry Potter">
            <input type="submit" value="Get Recommendations">
        </form>
        <div class="result" id="resultSection" style="display: none;">
            <h2>Top 5 Book Recommendations:</h2>
            <ul id="recommendationsList"></ul>
        </div>
    </div>

<!-- </script src="/static/script.js"> -->
<script>
  document.getElementById('recommendationForm').addEventListener('submit', function(event) {
    event.preventDefault();
    var bookName = document.getElementById('bookName').value;
    fetch('/recommend', {
        method: 'POST',
        body: JSON.stringify({ bookName: bookName }),
        headers: {
            'Content-Type': 'application/json'
        }
    })
    .then(response => response.json())
    .then(data => {
        document.getElementById('resultSection').style.display = 'block';
        var recommendationsList = document.getElementById('recommendationsList');
        recommendationsList.innerHTML = '';
        data.forEach(function(book) {
            var li = document.createElement('li');
            li.textContent = book;
            recommendationsList.appendChild(li);
        });
    });
});
</script>
</body>
</html>
